body{
    background-color: #E9DAC1;
    font-family: 'Silkscreen', cursive;
}

#select-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title{
    color: #18978F;
    font-size: 45px;
}

.sub-title{
    color: black;
    font-size: 25px;
}


.tarjetas, .tarjeta-ataques{
    display: flex;
    gap: 10px;
}

.btn-mascota{
    width: 190px;
    height: 100px;
    background-color:#54BAB9;
    padding: 10px;
    /* Aqui se ajusta todos los tamanos para hacer los 100% de fnal */
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid teal;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-mascota img{
    width: 80px;
}

.btns{
    width: 130px;
    height: 35px;
    border-radius: 20px;
    background-color: #18978F;
    font-family: 'Silkscreen', cursive;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid teal;;
    padding: 5px;
}

#select-ataque{
    align-items: center;
    flex-direction: column;
}

.ataques{
    display: grid;
    /* Columnas con grid */
    grid-template-columns: 100px 100px;
}

input:checked + label{
    background-color: #18978F;
}

.ataques-jugadorrr, .ataques-enemigooo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Aqui se hace el responsive */
@media(max-width: 540px){
    .tarjetas{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tarjeta-ataques{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* font-family: 'Silkscreen', cursive; */